body {
  background-color: white;
}

.font {
  font-family: georgia;
}

.font2 {
  font-family: comic sans ms;
  font-size: 60px;
  color: darkblue;
  text-align: center;
}

.font3 {
  text-align: center;
  font-style: italic;
}

h3 {
  text-align: center;
}

.a1 {
  color: red;
}

.a2 {
  text-decoration: none;
}

.p1 {
  text-align: center;
  font-size: 30px;
  color: orange;
}

.p2 {
  font-size: 20px;
  text-align: center;
  line-height: 50px;
}

.a1:hover {
  color: red;
  text-decoration: none;
}

.a2:hover {
  background-color: blue;
  color: white;
}

body {
  background-image: url("../latihan3/img/background.png");
  background-repeat: repeat-x;
}
